.body-login-page {
  height: 100%;
  background-color: rgba(27, 28, 29, 0.1); }

.ui-push-left {
  margin-left: 210px;
  min-width: 500px; }

.row-padding {
  margin-top: 1em;
  padding: 1em !important; }

.dropdown-icon-center i.dropdown.icon {
  top: 50% !important;
  transform: translateY(-50%) !important;
  position: absolute !important;
  right: 20px !important; }

.emphasis {
  font-weight: normal;
  font-style: italic; }

.inverted .text-subtle {
  color: rgba(255, 255, 255, 0.5); }

.text-subtle {
  color: rgba(0, 0, 0, 0.5); }

.small {
  font-size: 85%; }

/*.ui.inverted.menu.bg-dark{
  background-color:black !important;
}*/
